{% extends "base.html" %}
{% block title %} - About{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">

  <div class="post-header">
    <h1>Andrew Giessel</h1>
  </div>

	<div class="post-date">
		<h6>About me</h6>
	</div>

  <div class="post-content">
    <div class="row">
      <div class="span6">
	<p>
	  I am a research scientist living and working in the Boston area.  My wife and I live in Somerville, MA, with two cats and a soon-to-be-born baby.  I grew up in Kansas, and moved to New England for graduate school.  
	</p>

	<p>
	  Outside of science, I enjoy photography, and contemporary art and music of all sorts.  I am an enthusatic cyclist (road, mountain and cyclocross), and ride for the <a href="http://www.broadwaybicycleracing.com">Broadway Bicycle School / Igleheart Frames Racing Team</a>.
	</p>
      </div>
     <div class="span6">
       <img src="/static/img/giessel_and_hanna.jpg" height="512" width="512"></img>
     </div>
  </div>
  </div>

</div>
{% endblock %}
