{% extends "base.html" %}
{% block title %} - About{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">

  <div class="post-header">
    <h1>Andrew Giessel</h1>
  </div>

	<div class="post-date">
		<h6>About me</h6>
	</div>

  <div class="post-content">
    <div class="row">
      <div class="span6">
	<p>
	  I am a research scientist and Data Scientist at <a href="http://modernatx.com/">Moderna Therapeutics</a>.  Before this, I was the Director of Data Science at <a href="http://senseai.io">Sense Ai</a>, and previous to that, I was a postdoc and graduate student in the <a href="http://neuro.med.harvard.edu">Neurobiology Department of Harvard Medical School</a>.  My wife and I live with our daughters and two black cats in the Boston area.
	</p>

	<p>
	  I am fascinated and driven by understanding how big ideas such as pattern and computation manifest in biological systems, and how understanding these patterns can lead to meaningful improvements in human health.  The order and diversity of the natural world is a source of constant delight and inspiration for me.
	</p>

      </div>
     <div class="span6">
       <img src="/static/img/giessel_portrait.jpg"></img>
     </div>
  </div>
  </div>

</div>
{% endblock %}
