{% extends "base.html" %}
{% block title %} - About{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">

  <div class="post-header">
    <h1>Andrew Giessel</h1>
  </div>

	<div class="post-date">
		<h6>About me</h6>
	</div>

  <div class="post-content">
    <div class="row">
      <div class="span6">
	<p>
	  I am a research scientist living and working in the Boston area.  My wife and I live in Somerville, MA, with two cantankerous cats and a soon-to-be-born baby.  I grew up on a wheat farm in western Kansas, and moved to New England for graduate school.  I deeply love the beauty of the skies & plains of the midwest as well as the shores & forests of the northeast.
	</p>

	<p>
	  I'm fascinated and driven by big ideas- patterns, abstractions, computation, etc.  This passion has led me to study the mammalian nervous system, but I am interested in how these concepts manifest in all aspects of our lives.  The order and diversity of the natural world is a source of constant delight and inspiration.
	</p>

	<p>
	  Outside of science, I enjoy photography, contemporary art, and music of all sorts.  I am an enthusiastic cyclist (road, mountain and cyclocross), and ride for the <a href="http://www.broadwaybicycleracing.com">Broadway Bicycle School / Igleheart Frames Racing Team</a>.
	</p>

	<p>
	  
	</p>

      </div>
     <div class="span6">
       <img src="/static/img/giessel_and_hanna.jpg" height="460" width="460"></img>
     </div>
  </div>
  </div>

</div>
{% endblock %}
