{% extends "base.html" %}
{% block title %} - Blog Archive{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">

  <div class="post-header">
    <h1>Blog Posts</h1>
  </div>

	<div class="post-date">
		<h6>Archive</h6>
	</div>


  <div id="accordion">
    <h3>2012</h3>
    <div>
		<h4>Lorem ipsum dolor sit amet<br>
			Lorem ipsum dolor sit amet<br>
			Lorem ipsum dolor sit amet<br>
		</h4>
    </div>
    <h3>2011</h3>
    <div>
		<h4>Phasellus mattis tincidunt nibh.</h4>
	</div>
    <h3>2010</h3>
    <div>
		<h4>Nam dui erat, auctor a, dignissim quis.</h4>
	</div>
  </div>


</div>
{% endblock %}
