{% extends "base.html" %}

{% block title %} - Blog Archive{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">

  <div class="post-header">
    <h1>Blog Posts</h1>
  </div>

  <div class="post-date">
    <h6>Archive</h6>
  </div>

  <div id="accordion">
    {% for year in years %}
      <h3>{{ year }}</h3>
      <div>
	<h4>
	    {% for post in blog_data[year] %}
	       <a href='{{ post.dirname }}'>{{ post.title }}</a><br>
	    {% endfor %}
	</h4>
      </div>    
    {% endfor %}

</div>
{% endblock %}
