{% extends "base.html" %}

{% block title %} - Contact{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">
  <div class="post-header">
    <h1>Contact</h1>
  </div>

	<div class="post-date">
		<h6>Email is preferred; twitter for brevity</h6>
	</div>

  <div class="post-content">
   
		<ul id="contact">
			<li id="mail">
				<a href="mailto:andrew@giessel.com" target="_blank">
					<span class="glow">Email</span>
				</a>
			</li>
			<li id="twit">
				<a href="http://www.twitter.com/giessel" target="_blank">
					<span class="glow">Twitter</span>
				</a>
			</li>
			<li id="flck">
				<a href="http://flickr.com/giessel" target="_blank">
					<span class="glow">Flickr</span>
				</a>
			</li>
			<li id="git">
				<a href="http://github.com/andrewgiessel" target="_blank">
					<span class="glow">Github</span>
				</a>
			</li>
		</ul>
		
  </div>

</div>
{% endblock %}
