{% extends "base.html" %}

{% block content %}
<!-- Content -->
<div class="container">
	
		<div class="post-header">
			<h1>Sample Post</h1>
		</div>
		
		<div class="post-date">
			<h6>September 8th, 2012</h6>
		</div>
		<div class="post-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur adipiscing justo eu fermentum. Fusce eu turpis ut ipsum dignissim pellentesque sit amet eu justo. Integer et dignissim nibh. Praesent volutpat tincidunt sapien, sed faucibus nulla luctus sit amet. Pellentesque posuere risus eget metus vulputate tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras id eros elit, eget aliquet ligula. Aenean sagittis, tortor a commodo euismod, felis odio gravida metus, nec dapibus leo nulla eu ante.</p>

			<p>Quisque auctor est dapibus tellus egestas et eleifend diam aliquam. Morbi ac nibh nec orci condimentum aliquet quis id magna. Nulla at arcu mi. Aenean pretium nunc eget erat blandit quis rhoncus mi venenatis. Quisque eu nisi massa, non vestibulum eros. Vestibulum vestibulum aliquet tempus. Sed tincidunt sem id tortor dictum cursus. Nunc malesuada eros ac nunc luctus consequat.</p>

			<p>In ut dictum metus. Mauris sagittis augue nec augue commodo volutpat consectetur nunc consequat. Maecenas vel elementum mi. Proin venenatis est in sapien scelerisque tristique. Duis eu tellus quis ipsum bibendum vehicula. Phasellus vel libero turpis. Nam semper ultricies posuere. Sed a urna nisl, a feugiat mauris. Vivamus sit amet facilisis purus. Ut in libero vitae est pellentesque aliquet vel quis nisi. Vestibulum ut eros eu ipsum blandit mollis eleifend sodales lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec condimentum, felis in egestas feugiat, neque velit semper mauris, in euismod nisl sapien eu erat. Nunc venenatis egestas scelerisque.</p>
		</div>




</div>
{% endblock %}
