<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>andrew giessel {{title}}</title>
    <link rel="shortcut icon" href="/favicon.gif">
    <link rel="alternate" type="application/rss+xml" title="giessel.com : posts" href="/rss">
    
    <!--CSS-->
    
    <link rel="stylesheet" href="css/blueprint/src/reset.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/src/typography.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/plugins/liquid.css" type="text/css" media="screen, projection">   
    <!--[if lt IE 8]>
	<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    
    <!--External-->
    <!--Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!--Google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8831550-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>
    <p><p><p>
	  <div class="container">
	    <div id="header">
	      <h1>andrew giessel</h1>
	      <div class="block">
		<div class="column span-4 prepend-2">
		  <h3>bio/cv</h3>
		</div>
		<div class="column span-4">
		  <h3>research</h3>
		</div>
		<div class="column span-4">
		  <h3>archive</h3>
		</div>
		<div class="column span-4 prepend-6 last")>
		  <img class="top right" src="img/twitter.png" width="40" height="40">
		</div>
	      </div>

	      <div class="block">
		<div class="column span-24">
		  <hr/>
		</div>	      
	      </div>

	      

	      <div id="content">
		{% block content %}
		{% endblock %}
	      </div>

	      <div class="block">
		<div class="column span-24">
		  <hr/>
		</div>	      
	      </div>

	      <div id="footer">
		{% block footer %}
		{% endblock %}
	      </div>
	    </div>
	  </div>
  </body>
</html>
