{% extends "base.html" %}
{% block title %} - Research{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">

  <div class="post-header">
    <h1>Research</h1>
  </div>
	
		<div class="post-date">
			<h6>About my Research</h6>
		</div>

  <div class="post-content">
    <p>I am currently a postdoctoral fellow in the Department of Neurobiology, working the the lab of <a href="http://dattalab.org">Sandeep Robert Datta</a>.  Before working with Bob, I earned my doctorate in Bernardo Sabatini's lab, where I studied neuromodulation and synaptic calcium signaling in the dendrites and dendritic spines of hippocampal neurons.  My long-term research goals are to use electrophysiological and imaging approaches to understanding the circuit and cellular properties of the mammalan olfactory system.</p>

    <p>More broadly, I am interested in sensory neurophysiology, neuromodulation, computation (neural and otherwise), mathematical modelling and and data visualization.  This page lists my published scientific papers.</p>

   <p>I also intend to use this site as a venue for sharing some of my side interests, especially in data visualazation and modelling.</p>

   </div>
	<div class="post-content">
	    <h6>Download My CV</h6>
	</div>	
	
	<div class="post-content">
  	  <h6>Publications</h6>

	  <ul id="publications">
	    <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22998875" target="_blank" alt"Carter et al">
	      <li>
		<img src="../static/papers/carter_et_al_2011.png" width="91" height="71" alt="Carter Et Al 2011 01">
		Carter BC, Giessel AJ, Sabatini BL, Bean BP. Transient sodium current at subthreshold voltages: activation by EPSP waveforms. Neuron. 2012 Sep 20;
                75(6):1081-93. doi: 10.1016/j.neuron.2012.08.033. PubMed PMID: 22998875
	      </li>
	    </a>

			      
	    <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21695265" target="_blank" alt"Giessel et al">
	      <li>
		<img src="../static/papers/giessel_sabatini_2011.png" width="91" height="71" alt="Giessel Sabatini 2011 Clip">	
		Giessel AJ, Sabatini BL. Boosting of synaptic potentials and spine Ca transients by the peptide toxin SNX-482 requires alpha-1E-encoded voltage-gated
		Ca channels. PLoS One. 2011;6(6):e20939. Epub 2011 Jun 9. PubMed PMID: 21695265
	      </li>
	    </a>
	    
	    
	    <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21145006" target="_blank" alt"Giessel et al">
	      <li>
		<img src="../static/papers/giessel_sabatini_2010.png" width="91" height="71" alt="Giessel Sabatini 2010">
		Giessel AJ, Sabatini BL. M1 muscarinic receptors boost synaptic potentials and calcium influx in dendritic spines by inhibiting postsynaptic SK channels.
		Neuron. 2010 Dec 9;68(5):936-47. PubMed PMID: 21145006
	      </li>
	    </a>
	    
	    
	    <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=19753104" target="_blank" alt"Bloodgood et al">
	      <li>
		<img src="../static/papers/bloodgood_giessel_sabatini_2009.png" width="91" height="71" alt="Bloodgood Giessel Sabatini 2009 01">
		Bloodgood BL, Giessel AJ, Sabatini BL. Biphasic synaptic Ca influx arising from compartmentalized electrical signals in dendritic spines. PLoS Biol. 2009
		Sep;7(9):e1000190. Epub 2009 Sep 15. PubMed PMID: 19753104
	      </li>
	    </a>
	    
	    
	    <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=16691485" target="_blank" alt"Richter et al">
	      <li>
		<img src="../static/papers/richter_et_al_2005.png" width="91" height="71" alt="Richter Et Al 2005 Clip">
		Richter ML, Samra HS, He F, Giessel AJ, Kuczera KK. Coupling proton movement to ATP synthesis in the chloroplast ATP synthase. J Bioenerg Biomembr. 2005
		Dec;37(6):467-73. Review. PubMed PMID: 16691485.
	      </li>
	    </a>
	    
	  </ul>
	</div>
  </div>
</div>
{% endblock %}
