{% extends "base.html" %}
{% block title %} - Research and Publications{% endblock %}

{% block content %}
<!-- Content -->
<div class="container">

  <div class="post-header">
    <h1>Research</h1>
  </div>
  
  <div class="post-date">
    <h6>About my Research</h6>
  </div>

  <div class="post-content">
    <p>I am currently the Director of Data Science at <a href="http://senseai.io">Sense Ai</a>.  Modern mobile devices are packed with sensors of all sorts, and we are applying cutting edge machine learning approaches to enable understanding their physical context in isolation and in aggregate.</p>
    <p>

    <p>I believe that open source software is a crucial part of open science.  I wrote <a href="https://github.com/dattalab/d_code">d_code</a>, an analysis package for <i>in vivo</i> Ca Imaging and Electrophysiology analysis.  I am also a contributor to a number of open source software projects:  </p>
    <ul>
      <li><a href="http://thunder-project.org/">Thunder</a> - Large-scale image and time series analysis in Apache Spark</li>
      <li><a href="http://bolt-project.org">Bolt</a> - Distributed multi-dimensional arrays in Python using Apache Spark</li>
      <li><a href="https://github.com/python-visualization/folium">Folium</a> - Python wrapper for the <a href="leafletjs.com">leaflet.js</a> map library</li>
      <p>
    </ul>
	  
    <p>Previously, I was a postdoctoral fellow in the Department of Neurobiology, working in the lab of <a href="http://dattalab.org">Sandeep Robert Datta</a>, and before that I earned my doctorate with <a href="http://sabatini.hms.harvard.edu/">Bernardo Sabatini</a>.  During my Ph.D., I studied neuromodulation and synaptic calcium signaling in the dendrites and dendritic spines of hippocampal neurons.  My projects during my postdoc used <i>in vivo</i> electrophysiological, imaging, and optogenetic approaches to understanding the circuit and cellular properties of the mammalian olfactory system.</p>
    
    <p>More broadly, I am interested in computation (neural and otherwise), mathematical modelling and data visualization, as well as applying cutting edge analytic methods to data of all sorts and domains.  This page lists my published scientific papers and side projects.</p>

  </div>
  <div class="post-content">
    <h6><a href="http://giessel.com/static/Andrew_Giessel_CV.pdf" style="text-decoration: none;">Download My CV</a></h6>
  </div>	
  
  <div class="post-content">
    <h6>Publications</h6>

    <ul id="publications">
      <a href="http://www.ncbi.nlm.nih.gov/pubmed/24492088" target="_blank" alt"Giessel and Datta 2014">
	<li>
	  <img src="../static/papers/giessel_datta_2014.png" width="91" height="71" alt="Giessel and Datta 2014">
	  Giessel AJ, Datta SR.  Olfactory Maps, Circuits and Computations.  Current Opinion in Neurobiology, 2014 Feb;24(1):120-32. doi: 10.1016/j.conb.2013.09.010.  PubMed PMID: 24492088
	</li>
      </a>


      <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22998875" target="_blank" alt"Carter et al">
	<li>
	  <img src="../static/papers/carter_et_al_2011.png" width="91" height="71" alt="Carter Et Al 2011 01">
	  Carter BC, Giessel AJ, Sabatini BL, Bean BP. Transient sodium current at subthreshold voltages: activation by EPSP waveforms. Neuron. 2012 Sep 20;
          75(6):1081-93. doi: 10.1016/j.neuron.2012.08.033. PubMed PMID: 22998875
	</li>
      </a>

      
      <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21695265" target="_blank" alt"Giessel et al">
	<li>
	  <img src="../static/papers/giessel_sabatini_2011.png" width="91" height="71" alt="Giessel Sabatini 2011 Clip">	
	  Giessel AJ, Sabatini BL. Boosting of synaptic potentials and spine Ca transients by the peptide toxin SNX-482 requires alpha-1E-encoded voltage-gated
	  Ca channels. PLoS One. 2011;6(6):e20939. Epub 2011 Jun 9. PubMed PMID: 21695265
	</li>
      </a>
      
      
      <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21145006" target="_blank" alt"Giessel et al">
	<li>
	  <img src="../static/papers/giessel_sabatini_2010.png" width="91" height="71" alt="Giessel Sabatini 2010">
	  Giessel AJ, Sabatini BL. M1 muscarinic receptors boost synaptic potentials and calcium influx in dendritic spines by inhibiting postsynaptic SK channels.
	  Neuron. 2010 Dec 9;68(5):936-47. PubMed PMID: 21145006
	</li>
      </a>
      
      
      <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=19753104" target="_blank" alt"Bloodgood et al">
	<li>
	  <img src="../static/papers/bloodgood_giessel_sabatini_2009.png" width="91" height="71" alt="Bloodgood Giessel Sabatini 2009 01">
	  Bloodgood BL, Giessel AJ, Sabatini BL. Biphasic synaptic Ca influx arising from compartmentalized electrical signals in dendritic spines. PLoS Biol. 2009
	  Sep;7(9):e1000190. Epub 2009 Sep 15. PubMed PMID: 19753104
	</li>
      </a>
      
      
      <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=16691485" target="_blank" alt"Richter et al">
	<li>
	  <img src="../static/papers/richter_et_al_2005.png" width="91" height="71" alt="Richter Et Al 2005 Clip">
	  Richter ML, Samra HS, He F, Giessel AJ, Kuczera KK. Coupling proton movement to ATP synthesis in the chloroplast ATP synthase. J Bioenerg Biomembr. 2005
	  Dec;37(6):467-73. Review. PubMed PMID: 16691485.
	</li>
      </a>
      
    </ul>
  </div>
</div>
</div>
{% endblock %}
